<div class="container-about">
    <div class="panel-group ficha-collapse" id="accordion2">
      <!-- Bloque de Misión -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion2" data-toggle="collapse" href="#panel-mision" aria-expanded="true" aria-controls="panel-mision">
              Misión
            </a>
          </h4>
          <button type="button" class="collpase-button collapsed" data-parent="#accordion2" data-toggle="collapse" href="#panel-mision"></button>
        </div>
        <div class="panel-collapse collapse" id="panel-mision">
          <div class="panel-body">
            <p>Proporcionar una educación de calidad en el bachillerato general a cargo de la Secretaría de Educación Pública (SEP), que permita a los estudiantes pleno desarrollo y participación en la sociedad de su tiempo.</p>
          </div>
        </div>
      </div>
  
      <!-- Bloque de Objetivos Generales -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion2" data-toggle="collapse" href="#panel-objetivos-generales" aria-expanded="true" aria-controls="panel-objetivos-generales">
              Objetivos Generales
            </a>
          </h4>
          <button type="button" class="collpase-button collapsed" data-parent="#accordion2" data-toggle="collapse" href="#panel-objetivos-generales"></button>
        </div>
        <div class="panel-collapse collapse" id="panel-objetivos-generales">
          <div class="panel-body">
            <p>Dirigir y coordinar la prestación del servicio de educación media superior en los planteles operados por esta unidad administrativa, con el fin de formar estudiantes en el bachillerato general y promover su incorporación a la educación superior, así como coordinar académicamente a las instituciones educativas que imparten bachillerato general, proponiendo y difundiendo la normatividad pedagógica en la materia.</p>
          </div>
        </div>
      </div>
  
      <!-- Bloque de Objetivos Específicos -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion2" data-toggle="collapse" href="#panel-objetivos-especificos" aria-expanded="true" aria-controls="panel-objetivos-especificos">
              Objetivos Específicos
            </a>
          </h4>
          <button type="button" class="collpase-button collapsed" data-parent="#accordion2" data-toggle="collapse" href="#panel-objetivos-especificos"></button>
        </div>
        <div class="panel-collapse collapse" id="panel-objetivos-especificos">
          <div class="panel-body">
            <ul>
              <li>Ofrecer una cultura general básica que comprenda aspectos de la ciencia, de las humanidades y de la técnica, a partir de la cual el estudiante adquiera los elementos fundamentales para la construcción de nuevos conocimientos.</li>
              <li>Proporcionar al estudiante los conocimientos, métodos, técnicas y lenguajes necesarios para ingresar a estudios superiores y desempeñarse de manera eficiente.</li>
              <li>Desarrollar en el estudiante las habilidades y actitudes esenciales para la realización de una actividad productiva socialmente útil.</li>
              <li>Establecer servicios de orientación educativa, tutorías y atención a las necesidades de los alumnos, principalmente de aquellos en riesgo de abandono o fracaso escolar.</li>
              <li>Establecer un sistema nacional de tutorías que permita brindar atención grupal o individual a los estudiantes con el fin de facilitar su integración al entorno escolar.</li>
              <li>Dar seguimiento y apoyo individual y grupal a los alumnos, en relación con sus procesos de aprendizaje y desempeño académico.</li>
              <li>Ofrecer a los estudiantes apoyo psicopedagógico para atender problemáticas particulares mediante atención individual y/o grupal.</li>
              <li>Brindar orientación educativa, cuando proceda, para que los estudiantes puedan elegir con mayor certeza las opciones profesionales o académicas, entre otros aspectos.</li>
              <li>Instrumentar esquemas de asesoría académica diferenciada, para aquellos alumnos que presenten bajos niveles de rendimiento escolar y para quienes se encuentren en riesgo de abandonar sus estudios.</li>
              <li>Destinar, dentro de los planteles, aulas o espacios específicos y suficientes para el desarrollo de actividades de asesoría académica y de tutoría individual o pequeños grupos.</li>
              <li>Garantizar la excelencia de las instituciones que reciban el Reconocimiento de Validez Oficial de Estudios (RVOE).</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  